/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  width: 110px;
  height: 40px;
}

.allocate-container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.combo-box {
  max-width: 180px;
  padding-bottom: 30px;
}

.form {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 5px;
}

.status {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.allocate-result {
  padding-left: 8px;
  padding-top: 8px;
}
